# Auth config
AUTH_HEADER=
# Files config
FILES_BASE_PATH=
FILES_GENERAL_DIR=
FILES_SAFETY_DIR=
FILES_SCHEDULES_DIR=
# Server config
SERVER_ADDRESS=
SERVER_CSP=
# SERVER_HSTS_MAX_AGE=0
# SERVER_HSTS_INCLUDE_SUBDOMAINS=false
# SERVER_HSTS_PRELOAD=false