<!doctype html>
<html lang="nl-NL">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Placeholder Portal</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body class="touch-pan-y">
    
    <section>
      <div class="flex bg-placeholder-light justify-center">
        <div class="flex relative w-[1140px] flex-wrap justify-between">
          <div class="flex flex-nowrap relative p-3">
            <div class="flex h-14 items-center px-3 text-placeholder-dark font-bold">Placeholder</div>
            {{if .FullName}}
            <div class="flex flex-col relative pb-3">
              <span class="text-placeholder-dark flex font-bold py-3 px-5 relative whitespace-nowrap">
                {{.FullName}}
              </span>
            </div>
            {{end}}
          </div>
          <div class="flex flex-wrap flex-col relative p-3">
            <ul class="flex flex-nowrap justify-end relative">
              <li class="flex relative">
                <a href="?lang=en" class="text-placeholder-dark cursor-pointer flex grow font-bold py-3 px-5 relative whitespace-nowrap hover:opacity-80 duration-300">
                  <span>
                    EN
                  </span>
                </a>
              </li>
              <li class="flex relative">
                <a href="?lang=nl" class="text-placeholder-dark cursor-pointer flex grow font-bold py-3 px-5 relative whitespace-nowrap hover:opacity-80 duration-300">
                  <span>
                    NL
                  </span>
                </a>
              </li>
              <li class="flex relative">
                <a href="?lang=fr" class="text-placeholder-dark cursor-pointer flex grow font-bold py-3 px-5 relative whitespace-nowrap hover:opacity-80 duration-300">
                  <span>
                    FR
                  </span>
                </a>
              </li>
              <li class="flex relative">
                <a href="/.auth/logout" class="text-placeholder-dark cursor-pointer flex grow font-bold py-3 px-5 relative whitespace-nowrap hover:opacity-80 duration-300">
                  <span>
                    {{translate "logout"}}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{template "page" .}}

    <section>
      <div class="flex flex-wrap relative justify-center">
        <div class="mt-5 relative border-placeholder-border border-t-[0.06rem]">
          <div class="content-center items-center flex flex-wrap justify-end relative p-3">
            <ul class="flex flex-wrap relative">
            </ul>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>